<%= form_with(model: [@trip, @itinerary], local: true, class: "space-y-4") do |f| %>
  <div class="field">
    <%= f.label :date, class: "text-sm font-medium" %>
    <%= f.date_field :date, class: "flex h-10 w-full rounded-md border" %>
  </div>
  <%= f.submit class: "w-full btn-primary" %>
<% end %>